.button {
  width: auto;
  height: auto;
  display: inline-flex;
  overflow: hidden;
  flex-direction: row;
  position: relative;
  backface-visibility: visible;
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.iconFrame {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___9EgTd {
  object-fit: cover;
  max-width: 100%;
  color: #14161f;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.freeBox__kPiPp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__q6Bnc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.label {
  display: block;
  padding-right: 0px;
  cursor: pointer;
  letter-spacing: 0em;
  line-height: 24px;
  text-align: right;
  color: rgba(20, 22, 31, 1);
  font-weight: 600;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  transition-property: all;
  transition-duration: 1s;
  margin-left: 0px;
  margin-right: 0px;
  align-self: flex-start;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__pviOv {
  display: block;
  position: relative;
  width: 20px;
  height: 24px;
  flex-shrink: 0;
}
.svg__g93MW {
  object-fit: cover;
  max-width: 100%;
  color: #14161f;
  width: 20px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.button:hover .svg__g93MW {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg) translateX(0px)
    translateY(0px) translateZ(0px) translateX(0px) translateY(0px)
    translateZ(0px);
}
.frame2131327275 {
  background: rgba(255, 253, 249, 1);
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1599999964237213));
  width: 250px;
  height: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: -38px;
  top: 50px;
  transition-property: all;
  transition-duration: 0.3s;
  flex-shrink: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 16px;
  padding: 8px;
}
.button:hover .frame2131327275 {
  justify-content: flex-start;
  align-items: flex-start;
  left: 418px;
  top: 40px;
  z-index: 1;
  position: fixed;
  align-self: flex-start;
  display: none;
}
.contextMenus {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
}
.button:hover .contextMenus {
  display: none;
}
.header {
  width: 250px;
  height: 32px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__nwmdP {
  display: block;
  font-size: 12px;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(60, 60, 67, 0.6000000238418579);
  position: absolute;
  top: 9px;
  left: 16px;
  right: 16px;
  height: 16px;
}
.controls {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 10px 16px;
}
.controls > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.controls > :global(.__wab_flex-container) > *,
.controls > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.controls > :global(.__wab_flex-container) > picture > img,
.controls
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__rtfLv {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(20, 22, 31, 1);
  position: relative;
}
.icon {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.icon2 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: -0.4300000071525574px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
.controls2 {
  background: rgba(247, 245, 239, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px 16px;
}
.controls2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.controls2 > :global(.__wab_flex-container) > *,
.controls2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.controls2 > :global(.__wab_flex-container) > picture > img,
.controls2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__tu4DY {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(20, 22, 31, 1);
  position: relative;
}
.icon3 {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.icon4 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: -0.4300000071525574px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
.controls3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 10px 16px;
}
.controls3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.controls3 > :global(.__wab_flex-container) > *,
.controls3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.controls3 > :global(.__wab_flex-container) > picture > img,
.controls3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__rfDwl {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(20, 22, 31, 1);
  position: relative;
}
.icon5 {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.icon6 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: -0.4300000071525574px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
.frame2131327277 {
  background: rgba(255, 253, 249, 1);
  filter: none;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  left: 438px;
  top: 60px;
  z-index: 1;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 16px;
  padding: 8px;
}
.button:hover .frame2131327277 {
  opacity: 1;
  transform: translateX(0px) translateY(10px) translateZ(0px);
}
.contextMenus3 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
}
.header3 {
  width: 250px;
  height: 32px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__mwMwM {
  display: block;
  font-size: 12px;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
  color: rgba(60, 60, 67, 0.6000000238418579);
  position: absolute;
  top: 9px;
  left: 16px;
  right: 16px;
  height: 16px;
}
.controls7 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  cursor: pointer;
  padding: 10px 16px;
}
.controls7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.controls7 > :global(.__wab_flex-container) > *,
.controls7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.controls7 > :global(.__wab_flex-container) > picture > img,
.controls7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button .controls7:hover {
  background: #f7f5ef;
}
.text__fyY0V {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(20, 22, 31, 1);
  position: relative;
}
.icon13 {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.icon14 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: -0.4300000071525574px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
.controls8 {
  background: #fffdf9;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 16px;
}
.controls8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.controls8 > :global(.__wab_flex-container) > *,
.controls8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.controls8 > :global(.__wab_flex-container) > picture > img,
.controls8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button .controls8:hover {
  background: linear-gradient(#f7f5ef, #f7f5ef), #f7f5ef;
}
.text__kbUyN {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(20, 22, 31, 1);
  position: relative;
}
.icon15 {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.icon16 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: -0.4300000071525574px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
.controls9 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  cursor: pointer;
  padding: 10px 16px;
}
.controls9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.controls9 > :global(.__wab_flex-container) > *,
.controls9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.controls9 > :global(.__wab_flex-container) > picture > img,
.controls9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button .controls9:hover {
  background: #f7f5ef;
}
.text__cSqs0 {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(20, 22, 31, 1);
  position: relative;
}
.icon17 {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.icon18 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "SF Pro";
  font-weight: 400;
  letter-spacing: -0.4300000071525574px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}
