.button6 {
  background: rgba(20, 22, 31, 1);
  width: auto;
  height: auto;
  display: inline-flex;
  overflow: hidden;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 100px;
  padding: 12px 18px;
  border: 1px solid #f7f5ef;
}
.button6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.button6 > :global(.__wab_flex-container) > *,
.button6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button6 > :global(.__wab_flex-container) > picture > img,
.button6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.button6:hover {
  transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
  background: #f7f5ef;
  transform-style: preserve-3d;
}
.button6:hover * {
  transform-style: preserve-3d;
}
.iconFrame6 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__pWpOe {
  object-fit: cover;
  max-width: 100%;
  color: #fffdf9;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.button6:hover .svg__pWpOe {
  color: #14161f;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.label6 {
  display: block;
  font-size: 18px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 253, 249, 1);
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .label6 {
    font-size: 15px;
    max-width: 99px;
    width: 82px;
    text-align: left;
    align-self: flex-start;
  }
}
.button6:hover .label6 {
  color: #14161f;
}
.arrow245 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon24Grid5 {
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.icons24IconGridSquare5 {
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 20.571428298950195px;
  height: 20.571428298950195px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.svg__drNwv {
  object-fit: cover;
  max-width: 100%;
  color: #fef9ee;
  transform: translate(0.000004291534423828125px, -0.000003337860107421875px);
  width: 15.67839241027832px;
  height: 12px;
  display: block;
  position: absolute;
  top: 6px;
  left: 4px;
}
.link {
  display: none;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.button6:hover .modal:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
