.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-OyPG8bhCpd0Y);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-blCmg7lQWb1V);
  font-family: var(--token-4um2OHRMG4lE);
  font-size: var(--token-aswsJx6IoFUX);
  line-height: var(--token-3CgTdPe_gkUK);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Aojtt6d7J13d);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JTqRNFkc_8gC);
  outline-offset: 1px;
  outline-color: var(--token-OyPG8bhCpd0Y);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-qcErGK0RZqRr);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-KEwySeDIQiQh);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-sN4fswKD63ax);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-kog9Xanxvtay);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-dDJHvmaPlrGr);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-5y2QkLVwXbWC);
  font-size: var(--token-e2iXKWYQbKjZ);
  column-gap: var(--token-JTqRNFkc_8gC);
  row-gap: 0px;
  border-radius: var(--token-_GRpZSiryOIz);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-e2iXKWYQbKjZ);
  line-height: var(--token-5y2QkLVwXbWC);
  column-gap: var(--token-_GRpZSiryOIz);
  row-gap: 0px;
  border-radius: var(--token-_GRpZSiryOIz);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-nqrF4ryEsyPc);
  line-height: var(--token-VRmK9Z1CV40H);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-nqrF4ryEsyPc);
  line-height: var(--token-VRmK9Z1CV40H);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-Lgi03lZDijen);
  border-radius: var(--token-Aojtt6d7J13d);
}
.softBackgroundcolor_neutral {
  background: var(--token-ZCa89UvrwVV-);
}
.softBackgroundcolor_muted {
  background: var(--token-Z9sd1eTKEQYU);
}
.softBackgroundcolor_success {
  background: var(--token-PkiuyHm2J3ik);
}
.softBackgroundcolor_warning {
  background: var(--token-M40GHsFaa9-i);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-dxev1f_nS9nN);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Aojtt6d7J13d);
  border: 0px solid var(--token-g9B34mxyz_NL);
}
.bordercolor_neutral {
  border-color: var(--token-mu5rMe0SPJ1F);
}
.bordercolor_muted {
  border-color: var(--token-B1GyU-PI2-qS);
}
.bordercolor_success {
  border-color: var(--token-1cppOkKvzyZn);
}
.bordercolor_warning {
  border-color: var(--token-yPpDklaF9qkZ);
}
.bordercolor_errorDestructive {
  border-color: var(--token-4u-6u8lnPmUy);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Aojtt6d7J13d);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-GBrSXRRpLjiE);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-C8FTlBFs80Bl);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-fIc4u-U862J6);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__rHy6S {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Aojtt6d7J13d) var(--token-qtw42j78T7BA);
}
.freeBox__rHy6S > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Aojtt6d7J13d));
  width: calc(100% + var(--token-Aojtt6d7J13d));
}
.freeBox__rHy6S > :global(.__wab_flex-container) > *,
.freeBox__rHy6S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rHy6S > :global(.__wab_flex-container) > picture > img,
.freeBox__rHy6S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Aojtt6d7J13d);
}
.freeBoxsize_extraSmall__rHy6SJeHbo {
  padding: var(--token-_GRpZSiryOIz) var(--token-Aojtt6d7J13d);
}
.freeBoxsize_small__rHy6S0Di4S {
  padding: var(--token-Aojtt6d7J13d) var(--token-blCmg7lQWb1V);
}
.freeBoxsize_large__rHy6SgUpcg {
  padding-top: var(--token-_GRpZSiryOIz);
  padding-bottom: var(--token-_GRpZSiryOIz);
}
.freeBoxsize_extraLarge__rHy6Scw84J {
  padding-left: var(--token-vWtL12YN83Av);
  padding-right: var(--token-vWtL12YN83Av);
}
.freeBoxroundedFull__rHy6SHoPBs {
  padding-right: var(--token-vWtL12YN83Av);
  padding-left: var(--token-vWtL12YN83Av);
}
.freeBox__qsudT {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__qsudT7Mna {
  display: flex;
}
.slotTargetStart {
  color: var(--token-g4_fGUntEe7a);
}
.slotTargetStartcolor_neutral {
  color: var(--token-3WHXKuA6uVA9);
}
.slotTargetStartcolor_muted {
  color: var(--token-vekuw3qp6qB2);
}
.slotTargetStartcolor_success {
  color: var(--token-IrTyjegnyMFI);
}
.slotTargetStartcolor_warning {
  color: var(--token-VTlyD01yGyMZ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-9jSldGMbUlHV);
}
.slotTargetStarttype_soft {
  color: var(--token-La2VLurN6PON);
}
.slotTargetStarttype_bordered {
  color: var(--token-La2VLurN6PON);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-e2iXKWYQbKjZ);
}
.slotTargetStartsize_small {
  font-size: var(--token-e2iXKWYQbKjZ);
}
.slotTargetStartsize_large {
  font-size: var(--token-nqrF4ryEsyPc);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-nqrF4ryEsyPc);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-mpwT7FyGhsoL);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-mpwT7FyGhsoL);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-EIPgnQrsXNL3);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-EIPgnQrsXNL3);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token--GU8ospXQKzr);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token--GU8ospXQKzr);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-WaawTOsdxptn);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-WaawTOsdxptn);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-sf6QX462v-dq);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-sf6QX462v-dq);
}
.svg__hxsrl {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-g4_fGUntEe7a);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-3WHXKuA6uVA9);
}
.slotTargetLabelcolor_muted {
  color: var(--token-vekuw3qp6qB2);
}
.slotTargetLabelcolor_success {
  color: var(--token-IrTyjegnyMFI);
}
.slotTargetLabelcolor_warning {
  color: var(--token-VTlyD01yGyMZ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-9jSldGMbUlHV);
}
.slotTargetLabeltype_soft {
  color: var(--token-La2VLurN6PON);
}
.slotTargetLabeltype_bordered {
  color: var(--token-La2VLurN6PON);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-mpwT7FyGhsoL);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-EIPgnQrsXNL3);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-mpwT7FyGhsoL);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token--GU8ospXQKzr);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-EIPgnQrsXNL3);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-WaawTOsdxptn);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token--GU8ospXQKzr);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-sf6QX462v-dq);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-WaawTOsdxptn);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-sf6QX462v-dq);
}
.text__ee75Z {
  white-space: pre;
}
.freeBox___0IVir {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___0IVirmArPp {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-g4_fGUntEe7a);
}
.slotTargetEndcolor_neutral {
  color: var(--token-3WHXKuA6uVA9);
}
.slotTargetEndcolor_muted {
  color: var(--token-vekuw3qp6qB2);
}
.slotTargetEndcolor_success {
  color: var(--token-IrTyjegnyMFI);
}
.slotTargetEndcolor_warning {
  color: var(--token-VTlyD01yGyMZ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-9jSldGMbUlHV);
}
.slotTargetEndtype_soft {
  color: var(--token-La2VLurN6PON);
}
.slotTargetEndtype_bordered {
  color: var(--token-La2VLurN6PON);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-e2iXKWYQbKjZ);
}
.slotTargetEndsize_small {
  font-size: var(--token-e2iXKWYQbKjZ);
}
.slotTargetEndsize_large {
  font-size: var(--token-nqrF4ryEsyPc);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-nqrF4ryEsyPc);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-mpwT7FyGhsoL);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-mpwT7FyGhsoL);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-EIPgnQrsXNL3);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-EIPgnQrsXNL3);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token--GU8ospXQKzr);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token--GU8ospXQKzr);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-WaawTOsdxptn);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-WaawTOsdxptn);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-sf6QX462v-dq);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-sf6QX462v-dq);
}
.svg__o8Pg6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
