@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-lfHeTJ4VTzD9: 1280px;
  --plasmic-token-inner-container: var(--token-lfHeTJ4VTzD9);
  --token-695Po9-R6pke: 1px;
  --plasmic-token-unnamed-style-token: var(--token-695Po9-R6pke);
  --token-3MP4KjbkHjQV: #d1387c;
  --plasmic-token-pink: var(--token-3MP4KjbkHjQV);
  --token-dbEr9a0ro7a6: #b3294d;
  --plasmic-token-red: var(--token-dbEr9a0ro7a6);
  --token-V0_Q-Dvegas_: #1d1d21;
  --plasmic-token-black: var(--token-V0_Q-Dvegas_);
  --token-VVti-xQxXWnX: #fffdf9;
  --plasmic-token-primary-light: var(--token-VVti-xQxXWnX);
  --token-clu4Nk8nnkZ5: #fffdf9;
  --plasmic-token-unnamed-style-token-2: var(--token-clu4Nk8nnkZ5);
  --token-VVr2hbkRLo9n: #f7f5ef;
  --plasmic-token-secondary-light: var(--token-VVr2hbkRLo9n);
  --token-vLRAY5hoWx1s: #262831;
  --plasmic-token-secondary-dark: var(--token-vLRAY5hoWx1s);
  --token-_GRpZSiryOIz: 0.25rem;
  --plasmic-token-size-4: var(--token-_GRpZSiryOIz);
  --token-Aojtt6d7J13d: 0.375rem;
  --plasmic-token-size-6: var(--token-Aojtt6d7J13d);
  --token-qtw42j78T7BA: 0.625rem;
  --plasmic-token-size-10: var(--token-qtw42j78T7BA);
  --token-2yuF6d9mkpgj: #d1d5db;
  --plasmic-token-basic-border: var(--token-2yuF6d9mkpgj);
  --token-JTqRNFkc_8gC: 0.125rem;
  --plasmic-token-size-2: var(--token-JTqRNFkc_8gC);
  --token-OyPG8bhCpd0Y: #2563eb;
  --plasmic-token-brand-brand: var(--token-OyPG8bhCpd0Y);
  --token-aswsJx6IoFUX: 1rem;
  --plasmic-token-font-md: var(--token-aswsJx6IoFUX);
  --token-3CgTdPe_gkUK: 1.25;
  --plasmic-token-line-height-md: var(--token-3CgTdPe_gkUK);
  --token-ycCiBgmL2Eds: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-ycCiBgmL2Eds);
  --token-ZU9i07azXlwc: 1rem;
  --plasmic-token-size-16: var(--token-ZU9i07azXlwc);
  --token-hs5xukPbg3uP: #030712;
  --plasmic-token-basic-text-primary: var(--token-hs5xukPbg3uP);
  --token-ztZ1HQIopiwH: Inter;
  --plasmic-token-sans-serif: var(--token-ztZ1HQIopiwH);
  --token-e2iXKWYQbKjZ: 0.75rem;
  --plasmic-token-font-sm: var(--token-e2iXKWYQbKjZ);
  --token-5y2QkLVwXbWC: 1;
  --plasmic-token-line-height-sm: var(--token-5y2QkLVwXbWC);
  --token-nqrF4ryEsyPc: 1.25rem;
  --plasmic-token-font-lg: var(--token-nqrF4ryEsyPc);
  --token-VRmK9Z1CV40H: 1.4;
  --plasmic-token-line-height-lg: var(--token-VRmK9Z1CV40H);
  --token-dDJHvmaPlrGr: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-dDJHvmaPlrGr);
  --token-FBkQlcVEu_S5: #ffffff;
  --plasmic-token-basic-container-background: var(--token-FBkQlcVEu_S5);
  --token-B1GyU-PI2-qS: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-B1GyU-PI2-qS);
  --token-Z9sd1eTKEQYU: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-Z9sd1eTKEQYU);
  --token-Lgi03lZDijen: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-Lgi03lZDijen);
  --token-blCmg7lQWb1V: 0.5rem;
  --plasmic-token-size-8: var(--token-blCmg7lQWb1V);
  --token-MxXueSFsfO3N: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-MxXueSFsfO3N);
  --token-6Vrs1twlnZ7V: 1.5rem;
  --plasmic-token-size-24: var(--token-6Vrs1twlnZ7V);
  --token-vWtL12YN83Av: 0.75rem;
  --plasmic-token-size-12: var(--token-vWtL12YN83Av);
  --token-qcErGK0RZqRr: #374151;
  --plasmic-token-neutral-neutral: var(--token-qcErGK0RZqRr);
  --token-KEwySeDIQiQh: #6b7280;
  --plasmic-token-muted-muted: var(--token-KEwySeDIQiQh);
  --token-sN4fswKD63ax: #16a34a;
  --plasmic-token-success-success: var(--token-sN4fswKD63ax);
  --token-kog9Xanxvtay: #facc15;
  --plasmic-token-warning-warning: var(--token-kog9Xanxvtay);
  --token-ZCa89UvrwVV-: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-ZCa89UvrwVV-);
  --token-PkiuyHm2J3ik: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-PkiuyHm2J3ik);
  --token-M40GHsFaa9-i: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-M40GHsFaa9-i);
  --token-dxev1f_nS9nN: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-dxev1f_nS9nN);
  --token-g9B34mxyz_NL: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-g9B34mxyz_NL);
  --token-mu5rMe0SPJ1F: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-mu5rMe0SPJ1F);
  --token-1cppOkKvzyZn: #86efac;
  --plasmic-token-success-success-border: var(--token-1cppOkKvzyZn);
  --token-yPpDklaF9qkZ: #fde047;
  --plasmic-token-warning-warning-border: var(--token-yPpDklaF9qkZ);
  --token-4u-6u8lnPmUy: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-4u-6u8lnPmUy);
  --token-GBrSXRRpLjiE: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-GBrSXRRpLjiE);
  --token-C8FTlBFs80Bl: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-C8FTlBFs80Bl);
  --token-fIc4u-U862J6: #00000033;
  --plasmic-token-interaction-pressed: var(--token-fIc4u-U862J6);
  --token-g4_fGUntEe7a: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-g4_fGUntEe7a);
  --token-3WHXKuA6uVA9: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-3WHXKuA6uVA9);
  --token-vekuw3qp6qB2: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-vekuw3qp6qB2);
  --token-La2VLurN6PON: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-La2VLurN6PON);
  --token-VTlyD01yGyMZ: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-VTlyD01yGyMZ);
  --token-IrTyjegnyMFI: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-IrTyjegnyMFI);
  --token-9jSldGMbUlHV: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-9jSldGMbUlHV);
  --token-mpwT7FyGhsoL: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-mpwT7FyGhsoL);
  --token-EIPgnQrsXNL3: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-EIPgnQrsXNL3);
  --token--GU8ospXQKzr: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token--GU8ospXQKzr);
  --token-WaawTOsdxptn: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-WaawTOsdxptn);
  --token-sf6QX462v-dq: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-sf6QX462v-dq
  );
  --token-s7zzNBuwncDY: #fffdf9;
  --plasmic-token-primary-light-2: var(--token-s7zzNBuwncDY);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-R98F-eLkrNFj_font-family: "Inter", sans-serif;
  --mixin-R98F-eLkrNFj_font-size: 16px;
  --mixin-R98F-eLkrNFj_font-weight: 400;
  --mixin-R98F-eLkrNFj_font-style: normal;
  --mixin-R98F-eLkrNFj_color: #4f4f4f;
  --mixin-R98F-eLkrNFj_text-align: left;
  --mixin-R98F-eLkrNFj_text-transform: none;
  --mixin-R98F-eLkrNFj_line-height: 1.5;
  --mixin-R98F-eLkrNFj_letter-spacing: normal;
  --mixin-R98F-eLkrNFj_white-space: pre-wrap;
  --mixin-R98F-eLkrNFj_user-select: text;
  --mixin-R98F-eLkrNFj_text-decoration-line: none;
  --mixin-R98F-eLkrNFj_text-overflow: clip;
  --mixin-lQQFqvxOQKZt_color: #4f4f4f;
  --mixin-lQQFqvxOQKZt_font-weight: 900;
  --mixin-lQQFqvxOQKZt_font-size: 72px;
  --mixin-lQQFqvxOQKZt_line-height: 1;
  --mixin-lQQFqvxOQKZt_letter-spacing: -4px;
  --mixin-lQQFqvxOQKZt_font-family: "Inter", sans-serif;
  --mixin-lQQFqvxOQKZt_white-space: pre-wrap;
  --mixin-YOyxOth7PB8d_color: #4f4f4f;
  --mixin-YOyxOth7PB8d_font-size: 50px;
  --mixin-YOyxOth7PB8d_font-weight: 700;
  --mixin-YOyxOth7PB8d_letter-spacing: -1px;
  --mixin-YOyxOth7PB8d_line-height: 1.1;
  --mixin-YOyxOth7PB8d_font-family: "Inter", sans-serif;
  --mixin-YOyxOth7PB8d_white-space: pre-wrap;
  --mixin-uPnx4Fnl0s7X_color: #0070f3;
  --mixin-uPnx4Fnl0s7X_white-space: pre-wrap;
  --mixin-LfMm_Tybj1bf_color: #4f4f4f;
  --mixin-LfMm_Tybj1bf_font-size: 32px;
  --mixin-LfMm_Tybj1bf_font-weight: 700;
  --mixin-LfMm_Tybj1bf_letter-spacing: -0.8px;
  --mixin-LfMm_Tybj1bf_line-height: 1.2;
  --mixin-LfMm_Tybj1bf_font-family: "Inter", sans-serif;
  --mixin-LfMm_Tybj1bf_white-space: pre-wrap;
  --mixin-kvmhxNVGNxrp_color: #000000;
  --mixin-kvmhxNVGNxrp_font-size: 24px;
  --mixin-kvmhxNVGNxrp_font-weight: 600;
  --mixin-kvmhxNVGNxrp_letter-spacing: -0.5px;
  --mixin-kvmhxNVGNxrp_line-height: 1.3;
  --mixin-kvmhxNVGNxrp_white-space: pre-wrap;
  --mixin-9RxdqeY3CIGX_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9RxdqeY3CIGX_border-bottom-color: #dddddd;
  --mixin-9RxdqeY3CIGX_border-bottom-style: solid;
  --mixin-9RxdqeY3CIGX_border-bottom-width: 1px;
  --mixin-9RxdqeY3CIGX_border-left-color: #dddddd;
  --mixin-9RxdqeY3CIGX_border-left-style: solid;
  --mixin-9RxdqeY3CIGX_border-left-width: 1px;
  --mixin-9RxdqeY3CIGX_border-right-color: #dddddd;
  --mixin-9RxdqeY3CIGX_border-right-style: solid;
  --mixin-9RxdqeY3CIGX_border-right-width: 1px;
  --mixin-9RxdqeY3CIGX_border-top-color: #dddddd;
  --mixin-9RxdqeY3CIGX_border-top-style: solid;
  --mixin-9RxdqeY3CIGX_border-top-width: 1px;
  --mixin-9RxdqeY3CIGX_border-bottom-left-radius: 3px;
  --mixin-9RxdqeY3CIGX_border-bottom-right-radius: 3px;
  --mixin-9RxdqeY3CIGX_border-top-left-radius: 3px;
  --mixin-9RxdqeY3CIGX_border-top-right-radius: 3px;
  --mixin-9RxdqeY3CIGX_font-family: "Inconsolata";
  --mixin-9RxdqeY3CIGX_padding-bottom: 1px;
  --mixin-9RxdqeY3CIGX_padding-left: 4px;
  --mixin-9RxdqeY3CIGX_padding-right: 4px;
  --mixin-9RxdqeY3CIGX_padding-top: 1px;
  --mixin-9RxdqeY3CIGX_white-space: pre-wrap;
  --mixin-NACsmub4am04_border-left-color: #dddddd;
  --mixin-NACsmub4am04_border-left-style: solid;
  --mixin-NACsmub4am04_border-left-width: 3px;
  --mixin-NACsmub4am04_color: #888888;
  --mixin-NACsmub4am04_padding-left: 10px;
  --mixin-NACsmub4am04_white-space: pre-wrap;
  --mixin-x21dOO8KNMfP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-x21dOO8KNMfP_border-bottom-color: #dddddd;
  --mixin-x21dOO8KNMfP_border-bottom-style: solid;
  --mixin-x21dOO8KNMfP_border-bottom-width: 1px;
  --mixin-x21dOO8KNMfP_border-left-color: #dddddd;
  --mixin-x21dOO8KNMfP_border-left-style: solid;
  --mixin-x21dOO8KNMfP_border-left-width: 1px;
  --mixin-x21dOO8KNMfP_border-right-color: #dddddd;
  --mixin-x21dOO8KNMfP_border-right-style: solid;
  --mixin-x21dOO8KNMfP_border-right-width: 1px;
  --mixin-x21dOO8KNMfP_border-top-color: #dddddd;
  --mixin-x21dOO8KNMfP_border-top-style: solid;
  --mixin-x21dOO8KNMfP_border-top-width: 1px;
  --mixin-x21dOO8KNMfP_border-bottom-left-radius: 3px;
  --mixin-x21dOO8KNMfP_border-bottom-right-radius: 3px;
  --mixin-x21dOO8KNMfP_border-top-left-radius: 3px;
  --mixin-x21dOO8KNMfP_border-top-right-radius: 3px;
  --mixin-x21dOO8KNMfP_font-family: "Inconsolata";
  --mixin-x21dOO8KNMfP_padding-bottom: 3px;
  --mixin-x21dOO8KNMfP_padding-left: 6px;
  --mixin-x21dOO8KNMfP_padding-right: 6px;
  --mixin-x21dOO8KNMfP_padding-top: 3px;
  --mixin-x21dOO8KNMfP_white-space: pre-wrap;
  --mixin-TbTIB-HN9wWs_display: flex;
  --mixin-TbTIB-HN9wWs_flex-direction: column;
  --mixin-TbTIB-HN9wWs_align-items: stretch;
  --mixin-TbTIB-HN9wWs_justify-content: flex-start;
  --mixin-TbTIB-HN9wWs_list-style-position: outside;
  --mixin-TbTIB-HN9wWs_padding-left: 40px;
  --mixin-TbTIB-HN9wWs_position: relative;
  --mixin-TbTIB-HN9wWs_list-style-type: disc;
  --mixin-TbTIB-HN9wWs_white-space: pre-wrap;
  --mixin-JTwSIstg1gfb_display: flex;
  --mixin-JTwSIstg1gfb_flex-direction: column;
  --mixin-JTwSIstg1gfb_align-items: stretch;
  --mixin-JTwSIstg1gfb_justify-content: flex-start;
  --mixin-JTwSIstg1gfb_list-style-position: outside;
  --mixin-JTwSIstg1gfb_padding-left: 40px;
  --mixin-JTwSIstg1gfb_position: relative;
  --mixin-JTwSIstg1gfb_list-style-type: decimal;
  --mixin-JTwSIstg1gfb_white-space: pre-wrap;
  --mixin-xlDAoOVSHQ1o_color: #000000;
  --mixin-xlDAoOVSHQ1o_font-size: 20px;
  --mixin-xlDAoOVSHQ1o_font-weight: 600;
  --mixin-xlDAoOVSHQ1o_letter-spacing: -0.3px;
  --mixin-xlDAoOVSHQ1o_line-height: 1.5;
  --mixin-xlDAoOVSHQ1o_white-space: pre-wrap;
  --mixin-capgfwpQw9GJ_color: #000000;
  --mixin-capgfwpQw9GJ_font-size: 16px;
  --mixin-capgfwpQw9GJ_font-weight: 600;
  --mixin-capgfwpQw9GJ_line-height: 1.5;
  --mixin-capgfwpQw9GJ_white-space: pre-wrap;
  --mixin-GvmLpzGNsMEw_color: #3291ff;
  --mixin-GvmLpzGNsMEw_white-space: pre-wrap;
  --mixin-6wLwOyXyDjIy_white-space: pre-wrap;
  --mixin-tUBtEgSWoaLR_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-H1mQZyT0IRsr_white-space: pre-wrap;
  --plasmic-mixin-nav-menu_white-space: var(--mixin-H1mQZyT0IRsr_white-space);
  --mixin-S1PymxSm7dhU_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-S1PymxSm7dhU_white-space
  );
  --mixin-sma_jFNaL_b2_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset-2_white-space: var(
    --mixin-sma_jFNaL_b2_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-R98F-eLkrNFj_font-family);
  font-size: var(--mixin-R98F-eLkrNFj_font-size);
  font-weight: var(--mixin-R98F-eLkrNFj_font-weight);
  font-style: var(--mixin-R98F-eLkrNFj_font-style);
  color: var(--mixin-R98F-eLkrNFj_color);
  text-align: var(--mixin-R98F-eLkrNFj_text-align);
  text-transform: var(--mixin-R98F-eLkrNFj_text-transform);
  line-height: var(--mixin-R98F-eLkrNFj_line-height);
  letter-spacing: var(--mixin-R98F-eLkrNFj_letter-spacing);
  white-space: var(--mixin-R98F-eLkrNFj_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-lQQFqvxOQKZt_color);
  font-weight: var(--mixin-lQQFqvxOQKZt_font-weight);
  font-size: var(--mixin-lQQFqvxOQKZt_font-size);
  line-height: var(--mixin-lQQFqvxOQKZt_line-height);
  letter-spacing: var(--mixin-lQQFqvxOQKZt_letter-spacing);
  font-family: var(--mixin-lQQFqvxOQKZt_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-YOyxOth7PB8d_color);
  font-size: var(--mixin-YOyxOth7PB8d_font-size);
  font-weight: var(--mixin-YOyxOth7PB8d_font-weight);
  letter-spacing: var(--mixin-YOyxOth7PB8d_letter-spacing);
  line-height: var(--mixin-YOyxOth7PB8d_line-height);
  font-family: var(--mixin-YOyxOth7PB8d_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-uPnx4Fnl0s7X_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-LfMm_Tybj1bf_color);
  font-size: var(--mixin-LfMm_Tybj1bf_font-size);
  font-weight: var(--mixin-LfMm_Tybj1bf_font-weight);
  letter-spacing: var(--mixin-LfMm_Tybj1bf_letter-spacing);
  line-height: var(--mixin-LfMm_Tybj1bf_line-height);
  font-family: var(--mixin-LfMm_Tybj1bf_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-kvmhxNVGNxrp_color);
  font-size: var(--mixin-kvmhxNVGNxrp_font-size);
  font-weight: var(--mixin-kvmhxNVGNxrp_font-weight);
  letter-spacing: var(--mixin-kvmhxNVGNxrp_letter-spacing);
  line-height: var(--mixin-kvmhxNVGNxrp_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9RxdqeY3CIGX_font-family);
  border-radius: var(--mixin-9RxdqeY3CIGX_border-top-left-radius)
    var(--mixin-9RxdqeY3CIGX_border-top-right-radius)
    var(--mixin-9RxdqeY3CIGX_border-bottom-right-radius)
    var(--mixin-9RxdqeY3CIGX_border-bottom-left-radius);
  padding: var(--mixin-9RxdqeY3CIGX_padding-top)
    var(--mixin-9RxdqeY3CIGX_padding-right)
    var(--mixin-9RxdqeY3CIGX_padding-bottom)
    var(--mixin-9RxdqeY3CIGX_padding-left);
  border-top: var(--mixin-9RxdqeY3CIGX_border-top-width)
    var(--mixin-9RxdqeY3CIGX_border-top-style)
    var(--mixin-9RxdqeY3CIGX_border-top-color);
  border-right: var(--mixin-9RxdqeY3CIGX_border-right-width)
    var(--mixin-9RxdqeY3CIGX_border-right-style)
    var(--mixin-9RxdqeY3CIGX_border-right-color);
  border-bottom: var(--mixin-9RxdqeY3CIGX_border-bottom-width)
    var(--mixin-9RxdqeY3CIGX_border-bottom-style)
    var(--mixin-9RxdqeY3CIGX_border-bottom-color);
  border-left: var(--mixin-9RxdqeY3CIGX_border-left-width)
    var(--mixin-9RxdqeY3CIGX_border-left-style)
    var(--mixin-9RxdqeY3CIGX_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-NACsmub4am04_color);
  padding-left: var(--mixin-NACsmub4am04_padding-left);
  border-left: var(--mixin-NACsmub4am04_border-left-width)
    var(--mixin-NACsmub4am04_border-left-style)
    var(--mixin-NACsmub4am04_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-x21dOO8KNMfP_font-family);
  border-radius: var(--mixin-x21dOO8KNMfP_border-top-left-radius)
    var(--mixin-x21dOO8KNMfP_border-top-right-radius)
    var(--mixin-x21dOO8KNMfP_border-bottom-right-radius)
    var(--mixin-x21dOO8KNMfP_border-bottom-left-radius);
  padding: var(--mixin-x21dOO8KNMfP_padding-top)
    var(--mixin-x21dOO8KNMfP_padding-right)
    var(--mixin-x21dOO8KNMfP_padding-bottom)
    var(--mixin-x21dOO8KNMfP_padding-left);
  border-top: var(--mixin-x21dOO8KNMfP_border-top-width)
    var(--mixin-x21dOO8KNMfP_border-top-style)
    var(--mixin-x21dOO8KNMfP_border-top-color);
  border-right: var(--mixin-x21dOO8KNMfP_border-right-width)
    var(--mixin-x21dOO8KNMfP_border-right-style)
    var(--mixin-x21dOO8KNMfP_border-right-color);
  border-bottom: var(--mixin-x21dOO8KNMfP_border-bottom-width)
    var(--mixin-x21dOO8KNMfP_border-bottom-style)
    var(--mixin-x21dOO8KNMfP_border-bottom-color);
  border-left: var(--mixin-x21dOO8KNMfP_border-left-width)
    var(--mixin-x21dOO8KNMfP_border-left-style)
    var(--mixin-x21dOO8KNMfP_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-TbTIB-HN9wWs_display);
  flex-direction: var(--mixin-TbTIB-HN9wWs_flex-direction);
  align-items: var(--mixin-TbTIB-HN9wWs_align-items);
  justify-content: var(--mixin-TbTIB-HN9wWs_justify-content);
  list-style-position: var(--mixin-TbTIB-HN9wWs_list-style-position);
  padding-left: var(--mixin-TbTIB-HN9wWs_padding-left);
  position: var(--mixin-TbTIB-HN9wWs_position);
  list-style-type: var(--mixin-TbTIB-HN9wWs_list-style-type);
  flex-column-gap: var(--mixin-TbTIB-HN9wWs_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JTwSIstg1gfb_display);
  flex-direction: var(--mixin-JTwSIstg1gfb_flex-direction);
  align-items: var(--mixin-JTwSIstg1gfb_align-items);
  justify-content: var(--mixin-JTwSIstg1gfb_justify-content);
  list-style-position: var(--mixin-JTwSIstg1gfb_list-style-position);
  padding-left: var(--mixin-JTwSIstg1gfb_padding-left);
  position: var(--mixin-JTwSIstg1gfb_position);
  list-style-type: var(--mixin-JTwSIstg1gfb_list-style-type);
  flex-column-gap: var(--mixin-JTwSIstg1gfb_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-xlDAoOVSHQ1o_color);
  font-size: var(--mixin-xlDAoOVSHQ1o_font-size);
  font-weight: var(--mixin-xlDAoOVSHQ1o_font-weight);
  letter-spacing: var(--mixin-xlDAoOVSHQ1o_letter-spacing);
  line-height: var(--mixin-xlDAoOVSHQ1o_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-capgfwpQw9GJ_color);
  font-size: var(--mixin-capgfwpQw9GJ_font-size);
  font-weight: var(--mixin-capgfwpQw9GJ_font-weight);
  line-height: var(--mixin-capgfwpQw9GJ_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-GvmLpzGNsMEw_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
