.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-2yuF6d9mkpgj);
  color: var(--token-hs5xukPbg3uP);
  font-family: "Inter", sans-serif;
  font-size: var(--token-aswsJx6IoFUX);
  line-height: var(--token-3CgTdPe_gkUK);
  width: 439px;
  position: relative;
  outline-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #f7f5ef;
  height: 48px;
  font-weight: 400;
  letter-spacing: -0.11px;
  border-radius: var(--token-Aojtt6d7J13d);
  padding: var(--token-Aojtt6d7J13d) var(--token-qtw42j78T7BA);
  border: 0px none var(--token-9jSldGMbUlHV);
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JTqRNFkc_8gC);
  outline-offset: 1px;
  outline-color: var(--token-OyPG8bhCpd0Y);
}
@media (min-width: 0px) and (max-width: 768px) {
  .ariaInput:global(.__wab_instance) {
    font-size: 14px;
  }
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-Z9sd1eTKEQYU);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-Ov98LXY0SklB);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-Z9sd1eTKEQYU);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-uRTA66II9Z7V);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-uRTA66II9Z7V);
}
