.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.ariaButton:global(.__wab_instance) {
  background: #efefef;
  color: #000000;
  cursor: pointer;
  font-family: "Arial";
  font-size: 1rem;
  line-height: 1.2;
  text-decoration-line: none;
  max-width: 100%;
  object-fit: cover;
  padding: 2px 10px;
  border: 1px solid black;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-FBkQlcVEu_S5);
  display: block;
  color: var(--token-hs5xukPbg3uP);
  font-family: var(--token-ztZ1HQIopiwH);
  font-size: var(--token-aswsJx6IoFUX);
  line-height: var(--token-3CgTdPe_gkUK);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-ZU9i07azXlwc);
}
.pcls_n0DMrlodKvxj {
  background: var(--token-MxXueSFsfO3N);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: 0rem;
  padding-right: 0rem;
  max-width: 1064px;
  width: 100%;
  min-width: 0;
}
.popup:global(.__wab_instance) {
  max-width: 100%;
}
